{% if section.settings.infos-adicionais %}
<style>
 @media(max-width:768px) {
  .cartoes{
    max-height: auto;
    width: 10%;
    margin-top: 0px;
    margin-bottom: 5px;
  }  
  }

  @media(min-width:769px) {
   .cartoes{
    max-height: auto;
    width: 10%;
    margin-top: 0px;
    margin-bottom: 5px;
  }
  } 
 .security__payment p {
	color: #565656;
	text-align: center;
	margin: 10px auto 0;
	font-size: 12px;
}
</style>

  
<center style="
    background: white;
    border: 1px solid #f6f6f8;
    border-radius: 2px;
    padding: 0px;
    margin-top: 8px;
    box-shadow: 0px 5px 6px -5px #f6f6f8;"><div class="security__payment" style="margin: 0px 0px 8px;"><p style="padding: 0px 0px 0px 0px;background: #f6f6f8;margin-top: -6px;border-radius: 4px;"><i style="color: #3A2A2F;"></i> <b>FORMAS DE PAGAMENTO</b></p>
    </div
      
    <center><div class="payment-list2" style="display:inline-grid;">   
            <img src="https://cdn.shopify.com/s/files/1/0655/0696/7773/files/BANDERIAS.png?v=1669918376" width="320px">
   </div>   </center></center>
  <div style="margin-bottom:-7px"></div>

<div class="tag-top-botao" style="padding: 12px 13px 8px 8px;border-radius: var(--arredonda-box);background: var(--box-primaria);box-shadow: 0px 5px 6px -5px #f6f6f8;border: 1px solid #f6f6f8;display: flex;font-weight: 100;margin: 15px 0px 0px 0px;margin-bottom: -10px;">
 <div style="margin-right: 18px;"><img src="https://cdn.shopify.com/s/files/1/0265/4414/4459/files/Iconseg_1_480x480.png?v=1699136961"  alt="" style="width: 20pt;vertical-align: middle;margin-top: -8px;margin-left: 5px;margin-bottom: 0px;"></div>  
  
  <div style="font-size: 12px; line-height:5px;color:var(--box-sec);"><p><b>Pagamentos e informações estão seguros</b></p><span style="line-height:1.5"><p>Site oficial com todos os direitos reservados.</p></span></div>
</div><div style="margin-top:15px"> </div><div class="bandeiras-background-top" style="margin-top: 5px!important; padding: 12px 15px 4px 15px; border-radius: var(--arredonda-box); background: var(--box-primaria); box-shadow: 0px 5px 6px -5px #f6f6f8;border: 1px solid #f6f6f8;display: flex;">
 <div style="margin-right: 18px">
   <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:svgjs="http://svgjs.com/svgjs" width="21" height="21" x="0" y="0" viewBox="0 0 20 20" style="enable-background:new 0 0 512 512" xml:space="preserve"><g><path d="M10 0 2 2.3v7.4c0 4.7 3.2 8.9 7.7 10.2l.3.1.3-.1c4.5-1.3 7.7-5.5 7.7-10.2V2.3zm6 9.7c0 3.7-2.5 7.1-6 8.2-3.5-1.1-6-4.5-6-8.2V3.8l6-1.7 6 1.7z" fill="var(--box-titulo)" data-original="var(--box-titulo)"></path><path d="M7.4 8.4 6 9.8l3.3 3.3 4.6-4.7L12.5 7l-3.2 3.2z" fill="var(--box-titulo)" data-original="var(--box-titulo)"></path></g></svg>
  </div>  
   <span style="margin-top: -5px; margin-bottom: 5px;"><div style="font-weight: 700; font-size: 14px;color:var(--box-titulo)"><p>Devoluções Gratuitas</p></div><div style="font-size: 12px; line-height: 10px; color: var(--box-sec);"><p>Estorno de 100% do seu dinheiro</p></div><div style="font-size: 12px; color: var(--box-sec);"><p>7 dias após o recebimento da mercadoria.</p></div>    </span>
 </div>
{% endif %}